<!-- your html code here -->
<div class="container">
    <div class="row d-flex justify-content-between mt-5 py-5 border-top border-bottom px-0">
        <div class="col-7">
         <h1>
            <span class="text-dark">This First Will Heading</span>
            <span class="text-secondary">Catch Your Eye</span>
         </h1>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus consequuntur totam unde expedita ullam pariatur blanditiis. Nulla facilis vitae repellendus saepe temporibus rerum voluptates iure hic praesentium. Facere, vel libero!</p>
        </div>
        <div class="col-5">
            <img src="./assets/img/1.jpg" class="rounded-circle float-start" height="350px" width="350px">
        </div>
    </div>
</div>
