<!-- your html code here -->
<div class="container">
    <h1>Porfolio</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum aperiam impedit perspiciatis, natus nam ea minus molestias molestiae nemo? Nostrum, iusto! Necessitatibus voluptatem sint quis aliquam cupiditate odio dolor illo, libero est officiis corporis nostrum, veritatis nihil quam? Dignissimos, omnis!</p>
    <div class="row">
        <div class="col-4">
            <img src="./assets/img/big-project-image.png" alt="" class="w-100">
            <h4 style="color:#456fae">Project name</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, pariatur.</p>
        </div>
        <div class="col-4">
            <img src="./assets/img/big-project-image.png" alt="" class="w-100">
            <h4 style="color:#456fae">Project name</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, pariatur.</p>
        </div>
        <div class="col-4">
            <img src="./assets/img/big-project-image.png" alt="" class="w-100">
            <h4 style="color:#456fae">Project name</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, pariatur.</p>
        </div>
    </div>

</div>