<!-- your html code here -->
<div class="container">
    <div class="row d-flex justify-content-between mt-5 py-5 border-top border-bottom px-0">
        <div class="col-2">
            <img src="./assets/img/2.jpg" class="rounded-circle" height="350px" width="350px">
        </div>
        <div class="col-8">
            <h1>
                <span class="text-dark">The Second Heading</span>
                <span class="text-secondary">Is Pretty Cool Too.</span>
             </h1>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus consequuntur totam unde expedita ullam pariatur blanditiis. Nulla facilis vitae repellendus saepe temporibus rerum voluptates iure hic praesentium. Facere, vel libero!</p>
        </div>
    </div>
</div>